/.metadata/
*.o
*.exe
*.stackdump
RemoteSystemsTempFiles/*
UnitTest/.settings/*
UnitTest/*.launch
UnitTest/Debug/*
UnitTest/Startup/*
UnitTest/.cproject
UnitTest/.project
UnitTest/*.ld
Fundamentals/.settings/*
Fundamentals/*.launch
Fundamentals/Debug/*
Fundamentals/Startup/*
Fundamentals/.cproject
Fundamentals/.project
Fundamentals/*.ld
DataStructures/.settings/*
DataStructures/*.launch
DataStructures/Debug/*
DataStructures/Startup/*
DataStructures/.cproject
DataStructures/.project
DataStructures/*.ld
Sketch/.settings/*
Sketch/*.launch
Sketch/Debug/*
Sketch/Startup/*
Sketch/.cproject
Sketch/.project
Sketch/*.ld

